.section-login {
    background-color:#ebebeb;
    margin: 0;
    width: 100%;
    height: 200px;
    padding-top: 50px;

}

.form-login {
    margin: auto;
 
}

.form-login input {
    width: 250px;
    margin-bottom: 20px;
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 5px;
    box-sizing: border-box;
      
}

.boton-enviar {
    background-color: blue;
    color: white;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 5px;
    width: 250px;
    height: 30px;
    box-sizing: border-box;

}

.boton-enviar:hover {
    background-color: #0022AA

}